
<!--Se o login for com perfil de Candidato, exibe esse container-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 class="title">Menu Candidato</h1>
        </div>

        <form class="menu">
          <div class="mb-3">
            <button type="submit">Meu Perfil</button>
          </div>
          <div class="mb-3">
            <button type="submit">Contato</button>
          </div>
          <div class="mb-3">
            <button type="submit">Logout</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
         <form>
          <div class="mb-3">
            <button type="submit">VAGAS</button>
          </div>
          <div class="mb-3">
            <button type="submit">MINHAS VAGAS</button>
          </div>
          <div class="mb-3">
            <button type="submit">CURSOS</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Se o login for com perfil de Analista, exibe esse container-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 class="title">Menu Analista</h1>
        </div>

        <form class="menu">
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">Meu Perfil</button>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">Logout</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
         <form>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">VAGAS</button>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">Candidatos</button>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">CURSOS</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
