.card{
  border: none;
  width: 500px;
  padding: 30px;
  position: static;
  top: 50%;
  left: 50%;
  //transform: translate(-50%,-50%);
  background: #528eb6 ;
  background: linear-gradient(#52B69A(205, 46%, 30%, 1) 0%, #52B69A(260, 29%, 36%, 1) 100%);
}

.title{
  color:rgb(0, 0, 0) ;
  font-family: 'Lucida Sans';
}

.menu{
  width: 80px;
  padding: 10px;
  background: #52B69A;
}
